In [3]:
import pandas as pd
pizza = {'Nama': ['Amir', 'Fadli', 'Fatya'],'Tinggi Badan':[120, 145, 165],'Berat Badan':[20,40,65]
}
pizza_df=pd.DataFrame(pizza)
pizza_df

    Nama  Tinggi Badan  Berat Badan
0   Amir           120           20
1  Fadli           145           40
2  Fatya           165           65